<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>

    <add name="ElasticSearch" connectionString="{&quot;index&quot;:&quot;boxfish&quot;, &quot;hosts&quot;: [&quot;http://localhost2:9200&quot;, &quot;http://localhost:9200&quot;]}" />
  </connectionStrings>
</configuration>